@{
    var titulo = "Mi primer login";
}

<head>
    <meta charset="utf-8" />
    <title>@titulo</title>
    <link href="css/site.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>