<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="default.cshtml">
                    Ejemplo basico de Request y Response en Razor + HTML + CSS
                </a>
            </p>
        </div>
        <div class="float-right">
            <section id="login">
                <ul id="login">
                    @if(AuthData.IsLogged(Session))
                    {
                        <li><a href="logoff.cshtml">Cerrar Sesion</a></li>
                    }
                    else
                    {
                        <li><a href="logon.cshtml">Iniciar Sesion</a></li>
                    }
                </ul>
                @if(AuthData.IsLogged(Session))
                {
                    var usuario = Session["username"];
                    <div class="welcomeMessage">Bienvenido, <strong>@usuario</strong></div>
                }
                else
                {
                    <div class="welcomeMessage">No se ha autenticado</div>
                }
            </section>
        </div>
        <div class="clear-fix"></div>
    </div>
    @RenderPage("navbar.cshtml")
</header>