<!DOCTYPE html>
<html lang="en">
    @RenderPage("inc/head.cshtml")
	<body>
		<div class="outer-wrapper">
            @RenderPage("header.cshtml")
			@RenderBody()
		</div> <!--End of outer-wrapper which opens in header.php -->
		@RenderPage("footer.cshtml")
	</body>
</html>